[2016-03-25 18:01] paul1868 opened #1 "Different instruments"
Cool component.  Can you add some sample code on defining instruments.  I'm only able to get the Piano to play and would like to try out others and add custom ones.

[2016-03-25 18:30] grimmdude commented on #1
Hi, thanks for your message.  To specify an instrument you need to create a new `ProgramChangeEvent` and specify the instrument number:
[code]

You can find a list of all available MIDI instrument codes here: http://www.ccarh.org/courses/253/handout/gminstruments/

The actual sound of the instruments will depend on the software you're using to playback the MIDI file generated by this library.  As

[2016-03-26 12:03] jopango commented on #1
Hi,
Thanks for this work, it looks very interesting and promising!

Concerning instrument change, I tried to change the demo on [the website](http://grimmdude.github.io/MidiWriterJS/), the playback on the web page does not seem to change instruments sounds when I change the "instrument" parameter in ProgramChangeEvent, but when downloading the files I can then hear different instruments, although

[2016-03-26 16:23] grimmdude commented on #1
Hi @jopango, thanks for checking this out.  That's correct; the library I'm using for playback on the demo page doesn't support instrument changes unfortunately.  As you found, downloading the midi and playing in a player that does support them should work fine.  Let me know if you have any other issues with that.  What player are you using?

-Garrett

[2016-03-28 02:36] paul1868 commented on #1
Thanks guys.  I didn't some more research and understand how it works now.

[2016-03-28 02:36] #1 closed

[2016-03-30 13:52] joernroeder opened #2 "github pages broken"
hey,
i've tried to check out the demo but got a bunch of `Blocked loading mixed activce content` Errors for your css and js files. i looked in your config file as well but couldn't find a `github.url` variable there. Changing all links to `https://` should fix it.

https://developer.mozilla.org/en-US/docs/Security/Mixed_content#Warnings_in_Web_Console

[2016-03-30 22:18] grimmdude commented on #2
Hi There,

Thanks for you message.  Are you using a browser plugin which forces https?  The demo should be fine without it.

-Garrett

[2016-03-30 22:26] grimmdude commented on #2
I went ahead and hard coded those links to use https urls.  Thanks,

-Garrett

[2016-03-30 22:26] #2 closed

[2016-03-31 09:05] joernroeder commented on #2
Jup, I'm using https://www.eff.org/https-everywhere

[2016-04-05 13:55] lplume opened #3 "[ DISCUSSION ] About NoteEvent"
I am very interested in this project, would like to know more about the note event, especially the sequential option. I can get the point of wrapping note on/off in one note event, but the sequential is still a very ¨special uses case¨. There should be more wrappers of note event itself (chords, tuple, sequential), it should result in a more clear API. Or the pitch array could be an array of objec

[2016-04-05 20:02] grimmdude commented on #3
Thanks for the message.  I found the `sequential` option quite useful when writing out the Chopin Prelude example.  It's much less verbose for when you need to write sequential notes which are the same duration.  More wrappers could be added to the note on/off events though as you suggest, though couldn't you write chords/tuples with the existing syntax?  I'm open to suggestions.

Right, currently

[2016-04-05 21:42] lplume commented on #3
Hi Garrett,

Thanks for your answer!

Let me first state I really don't know midi specifications. As far as I know you model the add note event as you can write chords (sequential: false) and (at least) the 8th triple (8t). I would like to dig into midi specification and how other software deal with it. I just was wondering how low or high level would fit the library itself: if you add addChords([

[2016-04-11 08:22] shivrajsa opened #4 "Is it possible to give duration in miliseconds?"
This library seems very interesting.
Is it possible to give duration in milliseconds, or full control over duration instead of fix values.

[2016-04-12 18:41] grimmdude commented on #4
Hi There,

Assigning millisecond durations is not currently support, though it's something that can be added.  I'm not sure how tempo would be accounted for though, I suppose it would have to be a fixed value in this case?

-Garrett

[2016-04-13 11:42] shivrajsa commented on #4
I have Indian classical music project using MIDI.js where user can have any number of notes in one beat & user can give tempo as a number for example 222 BPM, here is an example [http://vishwamohini.com/music/demo-notations.php]
so while generating MIDI file I will need duration in milliseconds, I already have MIDI file generation feature, but base 64 string generated is not giving correct output

[2016-04-16 03:41] lplume commented on #4
Well, i think it could be possibile, work should be done on how every <delta_time> is computed. Basically the timing in MIDI is based on ¨ticks¨ per quarter note. That´s why timing in music is usually ¨fixed symbols¨ (like quarter, half and so on) and not seconds. It does not matter how seconds last a note, a note is a quarter, half, eighth... The real duration is based on the time signature (well

[2016-04-16 03:46] lplume commented on #3
One way to ¨traverse¨ around the MIDI events should be to store every single event (an array of objects) and compute the conversion to MIDI on every addEvent for events from scratch. What you think of this solution?

-Mauro

[2016-04-17 15:51] grimmdude commented on #3
Hi Mauro,

To clarify, your idea is to rebuild the entire MIDI data every time an event is added correct?

I like the idea of building an event array so it's traversable, but it probably makes more sense to build the actual data from that array once the `Writer` object is instantiated.  Otherwise rebuilding the MIDI data on each `addEvent` for large MIDI files it could become too taxing.  I think

[2016-04-17 15:53] grimmdude opened #6 "MusicXML Support - Ability to generate MusicXML"
It would be cool to be able to import MusicXML files and convert them to MIDI.

[2016-04-17 20:47] lplume commented on #3
I agree your point on building MIDI data on ¨request¨.
One use case could be to integrate the library into larger application, an example could be a piano roll

[2016-04-18 07:15] shivrajsa commented on #4
@lplume thank you for your answer.
Actually I am not expert in MIDI & even I dont know how time signatures are used in western music.

Lets take this use case
1. Assume one beat of one second.
2. I want to play 7 notes in one beat (one second). It means one second is devided into 7 equal parts
One beat devided in 7 parts
Devisions  = 1 | 2 | 3 | 4 | 5 | 6 | 7
Notes        = 1 | 1 | 1 | 1 | 1 | 1 |

[2016-04-18 11:27] lplume commented on #4
@shivrajsa  now I get it, give me some more time to better understand indian music notation and structure and i will be back again. I will be glad (if you mind) to give you back some resource about western music as well!

[2016-04-18 15:19] grimmdude commented on #4
Hi @shivrajsa,

Assuming the song is 7 beats per second for the whole time I think you can accomplish this with a little math using the currently available note divisions.  I believe 7 beats per second would come out to 420bpm.  Once that tempo is set each beat is considered a quarter note, and the division you're looking for can be accomplished by using 8th and 16th notes.  This was quick math in

[2016-04-18 17:34] grimmdude opened #7 "Support time signatures"
Need to add support for time signatures.

[2016-04-19 10:51] shivrajsa commented on #4
@lplume do share western music resources, it will be useful.

[2016-04-21 15:18] lplume opened #9 "Support Key Signature"
This is one of the few meta events left to be implemented. I can take a walk through this the next week if you do not plan to implement it.

[2016-04-22 09:07] lplume opened #10 "easier set tempo parameter"
It would be good to have the set tempo parameter as beats/minute instead of the plain midi format

[2016-04-27 16:51] #7 closed

[2016-04-29 12:06] shivrajsa opened #12 "How to set/calculate Tempo value?"
I checked basic demos with [MIDI.js](https://github.com/mudcube/MIDI.js) & it works well.
I played with example "chopin-prelude-e-minor", & tried to play this melody with different tempo, but
it always play with same tempo, for example tracks[0].setTempo(x); x=120 or 240 or 480.

Am I missing some information about usage of tempo? please guide

[2016-04-29 12:21] lplume commented on #12
setTempo parameters has  been changed recently; it depends if you install/download MidiWriterJS after or before the change.
Checkout this:
https://github.com/grimmdude/MidiWriterJS/pull/11

[2016-04-29 17:23] shivrajsa commented on #12
I downloaded it today, so I think it is latest one.
Here is my scenario
1. Integrate (install) [MidiWriterJS ](https://github.com/grimmdude/MidiWriterJS/blob/master/src/midi-writer-js.js) file in [MIDIPlayer ](https://github.com/mudcube/MIDI.js/blob/master/examples/MIDIPlayer.html)example
2. Change line "player.loadFile(song[songid++ % song.length], player.start);" to "player.loadFile(userFunction

[2016-04-29 17:28] grimmdude commented on #12
Hi @shivrajsa,

This could be an issue with MIDI.js.  Have you tried testing it in another MIDI player?

-Garrett

[2016-04-29 17:30] shivrajsa commented on #12
Could you please suggest a good & stable MIDI player, I will try.
It should take DataUri() output as input as per scenario.

[2016-04-29 17:37] grimmdude commented on #12
When I'm working on this library this I typically use GarageBand for MIDI playback since it has good visualization of notes and meta events.  For online playback I've had some trouble finding a bug free MIDI player (and actually considered writing one of my own).  I did find, however, this one to work pretty well:

https://github.com/chenx/MidiPlayer

It's the same one I'm using on the example pag

[2016-04-29 22:49] lplume commented on #12
Hi @shivrajsa, for my midi test and work i usually rely on [MuseScore](https://musescore.org). You said you started from the chopin example (btw @grimmdude examples **should** be updated to new setTempo parameters) is it right? Just want to understand if there is some ¨bug¨ in MidiWriterJS or not.

Also @shivrajsa i took some time to introduce myself about indian music and let me say it´s very awe

[2016-04-30 16:57] shivrajsa commented on #12
In my app there is option to export melody as MIDI file, you can check this option above each melody (table) at [this ](http://vishwamohini.com/music/demo-notations.php) link. Instead of "Devnagari" you can select option "Western" to see notations of melody in western format.

Just drag drop exported MIDI file at [this ](http://galacticmilk.com/piano/) link, an app mentioned as 'Color Piano' in MI

[2016-05-02 07:45] lplume commented on #12
Hi @shivrajsa,

I took some time to try midi generated by this library with both MuseScore and [color piano](http://galacticmilk.com/piano/) you mentioned and everything is fine (setting diffrents tempo).

I also try to take a look to an exported of yours at [vishwamohini music notation](http://vishwamohini.com/music/demo-notations.php) and cannot find the midi meta event to set tempo (FF 51), so

[2016-05-02 07:58] lplume commented on #12
Edit: and I think the guess is based on the delta time for each events and the total songs duration.
I'm still searching on the topic MIDI-Indian like music. I'm gonna ask to some music schools and alike, you could try to do the same in the meantime

-M

[2016-05-02 10:08] lplume commented on #9
Started working on this, could you please take a look at the commit
https://github.com/lplume/MidiWriterJS/commit/589ab7dd1e28da0c06c2ea07a8fc26e563f13b8c

My question, before pull requesting, is the following: the key signature is now specified as a pair of
[code]
where `sf` is the number of sharps or flats (<0 flats; 0 key of C, >0 sharps) and `mi` is the mode (0 major, 1 minor).

So for the Am

[2016-05-02 14:08] grimmdude commented on #12
I believe if the tempo event doesn't exist then MIDI players will default to 120 bpm.

-Garrett

[2016-05-02 14:23] grimmdude commented on #9
Hi @lplume ,

I was looking at this over the weekend as well.  I think it would make the most sense 'auto detect' like you have in your examples by accepting the key name as an argument.  It's pretty standard nomenclature to use Am, D, F#m etc so I think that should work well.

Have you found if it's possible to set multiple key signatures?

-Garrett

[2016-05-02 14:57] lplume commented on #9
Hi @grimmdude,

since the meta event is related to the track chunk, yes it is possible (I also test differents key signature at the same tempo on different tracks).
Consider also:

1. Key signature could change during execution
2. Some instruments (see Brass) should need different key signature

[2016-05-02 14:59] lplume commented on #10
reopen, there is a bug on [setTempo function](https://github.com/grimmdude/MidiWriterJS/blob/master/src/midi-writer-js.js#L85), the tempo should be cast to integer before passing it to numberToBytes (im gonna do this soon, sorry :-\)

[2016-05-02 15:10] grimmdude commented on #10
Ah ok, thanks for catching.

-G

[2016-05-02 15:26] lplume opened #13 "Indian music in western notation"
#12 #4
@shivrajsa
Please refer to this issue.
First of all I'm sorry if I'm gonna makes some mistakes, consider I do not know about Indian music a lot.

Think in quarter, consider the teentaal it's a 16 beats cycle, wrapped at 4 (4/4/4/4), so my suggestion is to start a time signature of 16/4 (the whola cycle). This mean that everyone of each
`dhaa dhin dhin dhaa/ dhaa dhin dhin dhaa/ dhaa tin tin

[2016-05-02 15:26] lplume commented on #12
this could be closed in favor of #13

[2016-05-02 15:26] lplume commented on #4
this could be closed in favor of #13

[2016-05-03 05:07] shivrajsa commented on #13
Thank you @lplume for detail answer, you have done really good study of Indian classical music. :-).
I am still finding difficult to understand how time signature works, especially denominator. As per my understanding

- When we say 16/4, it means 16 beats in one bar (I dont know what is bar, but it seems it is division of group of beats).
- When we say 7/4, it means 7 beats in one bar, in this ca

[2016-05-03 05:13] shivrajsa commented on #12
Hi @lplume @grimmdude, as said by @grimmdude it could be issue of MIDI.js, could you please also check this issue with MIDI.js because exported MIDI works well with MIDI.js player but datauri does not work well with MIDI.js player.

Using MIDI.js to play MIDI files generated by this library will be very useful because we can use soundfont in MIDI.js, take a look at my [app](http://vishwamohini.com

[2016-05-03 07:22] #10 closed

[2016-05-03 07:24] #4 closed

[2016-05-03 07:39] grimmdude commented on #12
Hi @shivrajsa ,

Could you download a fresh copy of this library and see if you still have the same issues with MIDI.js?  Just put in a small fix on the tempo setup.

-Garrett

[2016-05-03 10:25] lplume commented on #13
@shivrajsa thank you =) it took me hours of rest :joy:
There are two problmes as far as i can understand

1. First of all consider Western and Indian music have different roots, some concept could be shared, but keep in mind they are different
2. Digital notation of Indian music is still young and fresh (as far as I know notation in general)

**Time signature**
In western music bars are single chu

[2016-05-05 11:30] lplume commented on #9
pr #14

[2016-05-05 11:30] #9 closed

[2016-05-05 11:33] lplume opened #15 "Develop branch"
Hi Garrett,

Would be a good idea to have a develop (or more, see git flow) branch(es), so the master branch will be always clean and stable.

-Mauro

[2016-05-07 16:53] grimmdude commented on #15
Hi Mauro,

I'm actually considering the master branch as the dev branch currently.  Let's use the releases as the tested stable versions; https://github.com/grimmdude/MidiWriterJS/releases  I will create a new release with our latest changes.

I'll make a note in the README so people viewing the repo understand this.

-Garrett

[2016-05-07 16:53] #15 closed

[2016-05-07 22:01] lplume commented on #15
Nice, no matter how =) just tell us how to help you and this library! Great work Garrett!

-Mauro

[2016-05-23 22:14] #12 closed

[2016-05-23 22:15] grimmdude commented on #6
Or maybe add option to create MusicXML file as well?

[2016-06-07 15:33] grimmdude commented on #13
Thanks @lplume, closing this one out

[2016-06-07 15:33] #13 closed

[2016-06-11 06:59] #3 closed

[2016-06-14 05:31] grimmdude opened #16 "Add support for exporting MIDI from VexFlow"
Would be cool, and fairly trivial, to support MIDI export from [VexFlow](https://github.com/0xfe/vexflow)

[2016-07-26 11:50] msj121 commented on #16
Is there a way to show on the VexFlow object the note or at least the section being played? This would  be a pretty neat way to tie into the visualization of vexflow and your export.

[2016-07-27 22:31] grimmdude commented on #16
Hi @msj121

I'm not sure I understand your question.  This library is for generating MIDI, but not playing it.  The VexFlow object does contain note information, this is what MIDIWriterJS uses to generate the MIDI.

-Garrett

[2016-08-02 04:34] msj121 commented on #16
@grimmdude Oh I see. Thanks. If I did decide to play it side by side with the notes in VexFlow, do you have any advice how I might be able to tie the midi music to the sheet music? Do I only have timing to work with, from VexFlow and assume the Midi lines up?

Thanks.

[2016-08-11 22:48] grimmdude commented on #16
Hi @msj121 ,

You would need to implement some type of sequencer then tie in the note events from that into VexFlow.  I think [Midi.js](https://github.com/mudcube/MIDI.js/) might have support for that, I'm not sure though.

-Garrett

[2016-08-11 22:48] #16 closed

[2016-08-17 03:48] grimmdude commented on #6
I think if I do this I'll probably make it a separate module/repo.

[2016-08-17 03:48] #6 closed

[2017-02-23 20:01] HexOverflow opened #18 "Black MIDIs causes slow downs"
Hi there, I'm from the Black MIDI community and I use your library for running a multiplayerpiano.com MIDI bot and one of the things I've noticed is that if you play MIDIs with alot of notes and a mass amount of notes getting played the MIDI ends up slowing down. Hopefully this is an easy fix?

[2017-02-23 20:01] #18 closed

[2017-03-02 20:14] dgrmunch opened #19 "Uncaught ReferenceError: notes is not defined"
I am trying to adapt part of the MidiWriterJS code to play with the VexTab data and I got a problem.

in the **notes[i]** array:

[code]

Where is *notes* defined?

[2017-03-03 00:13] dgrmunch opened #20 "Integrating with VexFlow"
Hey, @grimmdude!

I have been checking the browser library and I couldn't make it work.

**Code**:

[code]

**Error**:

You can check it up here:

Thanks so much!

[2017-03-03 04:26] grimmdude commented on #20
Hey @dgrmunch,

I think you'll need to instantiate the VexFlow class first.  Try this:

[code]

[2017-03-03 17:28] dgrmunch commented on #20
Thanks @grimmdude,

Unfortunatelly that change leads to this error:

`Uncaught ReferenceError: notes is not defined
    at http://127.0.0.1:53319/js/vendor/index.js:2741:6
    at Array.forEach (native)
    at VexFlow.trackFromVoice (http://127.0.0.1:53319/js/vendor/index.js:2737:20)`

The same issue that I reported in https://github.com/grimmdude/MidiWriterJS/issues/19.
By the way, I will close th

[2017-03-03 17:29] dgrmunch commented on #19
This thread has been moved to https://github.com/grimmdude/MidiWriterJS/issues/20

[2017-03-03 17:29] #19 closed

[2017-03-03 20:55] grimmdude commented on #20
Hi @dgrmunch ,

Good point, obviously that `notes` var is not defined.  My guess is it was defined in the `voice` object in VexFlow.  It's been a little since I last worked on this featured, but when I inspect that VexFlow `voice` object now I don't see a notes property.

Like I mentioned in the thread over on the VexFlow repo, I don't believe the current VexFlow integration approach is the right

[2017-03-04 17:34] dgrmunch commented on #20
@grimmdude, thanks again.

Let's see if we find the solution. I am glad this is inspiring you to try again :-)
I have been doing some reverse engineering and trial&error but with no results yet.

According to what you said, probably the `Voice` object obtained from the VexTab plain-text doesn't have the expected attributes. I got it with the statement `artist.getPlayerData().voices[0][0]`, followi

[2017-03-21 13:38] Jandou6 opened #23 "how can i change the music instruments?"
are there any doc? because i found that your other project (MidiPlayer) , mentioned the sound_font.

so,I think that it may be can choose the other instrument not only the piano sound.

[2017-03-21 14:23] grimmdude commented on #23
Hi @Jandou6,

You can change the instrument like this:
[code]

Here's a table describing each program: https://www.midi.org/specifications/item/gm-level-1-sound-set

-Garrett

[2017-03-21 14:28] Jandou6 commented on #23
@grimmdude  Oh ~ is great !! Thanks. the MidiWriterJs is Great.I love it

[2017-03-21 14:30] grimmdude commented on #23
Cool thanks!

[2017-03-21 14:30] #23 closed

[2017-03-24 17:48] SalahAdDin commented on #20
:+1:

[2017-03-29 18:59] Jorbf13 opened #24 "Time Signature Denominator 8"
Hello,

I seem to be getting some problems downloading files with a time signature denominator of 8. With Logic/Garageband, the the DAW doesn't even really recognize the file, but it imports the tempo and the time signature with a denominator of 4. Ableton imports it with the denominator 4 and an added note at C0 with a duration equal to the length of the file.
All DAWs I mentioned work just fine

[2017-03-29 19:01] grimmdude commented on #24
Hi @Jorbf13 ,

Thanks for reporting, sounds like it is probably an issue in this library.   Let me do some tests and hopefully get a fix out shortly.

-Garrett

[2017-03-29 19:07] Jorbf13 commented on #24
Great, thanks being so responsive!

I'm also getting tempo imports such as 163.9998 instead of 164. Some DAWs round it up (Ableton), but Logic imports the whole float, and Garageband rounds it down. If you'd like I can make a separate issue for this.

[2017-03-29 21:20] lplume commented on #24
Well.. shame on me.. it's actually a terrible fault of mine, check this

https://github.com/grimmdude/MidiWriterJS/blame/master/src/track.js#L69

[2017-03-29 22:12] grimmdude commented on #24
Thanks @lplume , I'll take a look at that time signature issue.

@Jorbf13 could you open a new issue for the tempo rounding problem you're seeing?

-Garrett

[2017-03-29 22:14] lplume commented on #24
@grimmdude great =D ty; the time signature is that if the denominator is more than 4, then it is expressed as pow of 2, i ew... just square root it ^^' that's why 4 and 16 are fine but not.. 8

[2017-03-29 22:43] Jorbf13 commented on #24
Yay, yes, thanks @grimmdude @lplume ! I tested using log2 instead of sqrt in my local files and it seems to work fine!

[2017-03-29 22:45] Jorbf13 opened #25 "Tempo Rounding Problem"
Tempo is rounded to 4 decimals, f.ex. 163.9998 instead of 164bpm. I can really only visualize this in logic (garageband rounds the number down and ableton rounds it up).

[2017-03-29 23:34] Jorbf13 commented on #25
@lplume Tempo is still not rounded, and the note placement gets messed up

[2017-03-30 03:42] grimmdude commented on #24
Hi @Jorbf13,

Yep good call that's the ticket.  Just pushed this change and published 1.4.4 to npm.  Thanks for reporting and solving!

-Garrett

[2017-03-30 03:42] #24 closed

[2017-03-31 05:14] grimmdude commented on #25
Hi @Jorbf13

I tested the file generated from the below script in Logic X and Garageband and the tempo seems to carry correctly in both.  Seems like it should be simple math; 60000000 / 375000 = 160 exactly.  Could you post, or link to, and example script/midi which is causing the problem for you?

[code]

[2017-03-31 06:55] lplume commented on #25
The way that MidiWriterJS use to set tempo is exactly how MIDI file format want it to be, looking at supports forum of software like cubase, ableton seems lot of people got troubles with "timing" while importing a midi file; also, many repos likes this got this issue pop up soon or later. That said, in this week im gonna try some combination of import/export from and to DAW/MIDI editor via MIDI fi

[2017-03-31 19:03] Jorbf13 commented on #25
@grimmdude I will share my files/code gladly, but could you try setting the tempo to 164 or 180? I am only getting the rounding issue with certain specific tempos, and not all of them, for instance 160 works fine for me, as well. Those are two examples of bad rounding. Let me know if you still would like to see my code after trying this.
In order to see the 4-decimal number in Logic you will have

[2017-04-02 03:23] grimmdude commented on #25
Hi @Jorbf13 ,

I see why this is happening, but I'm not sure what the solution is.  For instance:

`60000000 / 164 = 365853.65853658534`

Currently we round that value at https://github.com/grimmdude/MidiWriterJS/blob/master/src/track.js#L59 but when you multiply it out after rounding this is the result

`60000000 / 365854 = 163.9998469334762`

MIDI file format only allows three bytes to represent

[2017-04-17 19:09] grimmdude commented on #25
I'm going to close this out for now, but feel free to open if you have any solution.

-Garrett

[2017-04-17 19:09] #25 closed

[2017-04-20 13:29] Jandou6 opened #26 "how can i set NoteEvent.wait for longer?"
you write the Description for wait time:
1 : whole
2 : half
d2 : dotted half
4 : quarter
d4 : dotted quarter
8 : eighth
8t : eighth triplet
d8 : dotted eighth
16 : sixteenth
Tn : where n is an explicit number of ticks

But if I want to wait for longer,how can i do for this.

such i want to wait 8s. And I don't know what the mean of 'Tn(where n is an explicit number of ticks)'

[2017-04-20 18:39] grimmdude commented on #26
Hi @Jandou6

I've just pushed a change which allows you to use an array of durations where the sum will be used in the note event.  Not sure if that's helpful  to you or not, but it's nice to have.

To explicitly wait for 8 seconds you could use the `Tn` option.  By default this library assumes there are 128 ticks per beat, so the formula would work out how many ticks there are per second is:

` b

[2017-04-21 06:55] Jandou6 commented on #26
thank you very much!

[2017-04-21 14:30] #26 closed

[2017-04-24 09:34] LagodViads opened #27 "wrong midi pitch"
track.addEvent(new MidiWriter.NoteEvent({
    pitch : ['C4','B#4'],
    duration : '4'
}));
writes as C4,C4 ; should be C4 C5

I suggest using tonal.note.midi given your claim to support tonal.note output.

[2017-04-25 06:55] grimmdude commented on #27
Hi @LagodViads

Thanks for the suggestion.  I've updated this to use [tonal-midi](https://github.com/danigb/tonal/tree/master/packages/midi) to lookup MIDI numbers from note names so this issue should now be fixed.

-Garrett

[2017-04-25 06:55] #27 closed

[2017-04-25 18:38] LagodViads commented on #27
Perfect!

Le 25/04/2017 à 08:55, Garrett Grimm a écrit :

[2017-04-28 16:23] revyTH opened #28 "addInstrumentName -> track name?"
Hi, thanks for this useful package!

I've some problems to set tracks name. I've tried the following:

[code]

but when importing in Ableton or converting as json at [https://tonejs.github.io/MidiConvert/](https://tonejs.github.io/MidiConvert/) the tracks name doesn't appear. Any hint?

Thanks, cheers!

[2017-04-28 18:58] grimmdude commented on #28
Hi There,

I believe it will depend on the MIDI software whether or not the `Instrument Name` event overrides the General Midi instrument name associated with the program number.  In most cases I've found it doesn't.  Here is a list of GM sounds and associated numbers:

https://www.midi.org/specifications/item/gm-level-1-sound-set

There is a `Sequence/Track Name` event in the MIDI spec which soun

[2017-04-29 15:03] revyTH commented on #28
Hi, just tested on Ableton and on the midi to json converter and it worked!
Thank you!

[2017-04-30 00:57] #28 closed

[2017-06-02 04:26] PedroAlvesV opened #29 "NoteEvent limitation (?)"
Is there any way of, in a single track, playing two notes, with different durations, simultaneously?
I mean, imagine an `A4` and an `E4`; One whole note, the other quarter note; Both starting together. Is there any way of producing it with this API?

The same for arpeggios: is it possible to start a note _before_ stopping the previous one?

[2017-06-02 15:13] grimmdude commented on #29
Hi @PedroAlvesV ,

Currently it is not possible to have overlapping durations within a single track in this API; it would have to be on separate tracks.  This would be a nice feature, though I'm not sure how the API would look for that.  Do you have any ideas?

-Garrett

[2017-06-02 20:33] PedroAlvesV commented on #29
Yep. I was thinking about giving the user more control over it. I mean, the `NoteEvent` is an awesome abstraction, but, as I pointed, there's this one limitation. Maybe if the user could, by wish, set the On and Off signals, it would solve the problem. So, it would keep the `NoteEvent`, but also offer the usage of `NoteOn` and `NoteOff`.

Another thing that I noticed is that these classes (`NoteOn

[2017-06-03 05:01] grimmdude commented on #29
Hi Pedro,

Good ideas.  I think I used separate classes for `NoteOn` and `NoteOff` with the thought that it would be convenient to add more functionality to them later.  You're right though, currently they're just containers for properties.

I'm thinking something like this may work to provide the ability to have two simultaneous notes with different durations, where the duration index would line

[2017-06-03 11:29] PedroAlvesV commented on #29
He would have to be aware of the delta time, that's true, but most people working with MIDI frameworks _do_. Besides, the `NoteEvent` would always be available.

I have been wondering about it because I wrote a function that receives a MIDI file and creates LuaMidi objects to represent it. It works pretty fine, actually. The only thing I couldn't manage it to get, yet, is the timing, but that's be

[2017-06-03 17:13] grimmdude commented on #29
I think in the case of Stairway to Heaven, and other similarly played sustained arpeggios, changing the note durations isn't the best approach because it becomes a bit unreadable as musical notation.  I understand that you can dial in the exact note length that way though.  The notes would still be abruptly cut off instead of trailed off.

For this case I think there should be support in this API

[2017-06-29 15:27] gciluffo commented on #20
Any updates on getting trackFromVoice() function working properly with voice?

[2017-06-30 16:41] grimmdude commented on #20
Hi @gciluffo ,

Unfortunately I haven't had the time recently to tackle this again.  It's still on my list though, I haven't given up.  PRs welcome!

-Garrett

[2017-06-30 17:12] gciluffo commented on #20
#31

[2017-06-30 17:58] gciluffo opened #32 "Grace Notes"
@grimmdude

I am interested in adding some more functionality to the vexflow part, and was wondering if I could get some guidance on MidiWriter to handle grace notes?

Since a grace note comes right before its target note, what would be the best way to create a NoteEvent for that grace note. I was thinking of adding the grace note to a separate track from the target note? Something like:

Adding a

[2017-06-30 18:01] gciluffo opened #33 "Vexflow, note doublings"
@grimmdude

Me again, was wondering whats the best way to handle doubling a note? Say for example I have a 16th note that needs to get doubled into two 32nd notes. Currently MidiWriter does not support 32nd notes as far as I can see? What would be the best way to do this?

[2017-06-30 18:34] grimmdude commented on #32
Hi @gciluffo,

Interesting question.  Currently I would say this isn't really supported, although I suppose you could manually prefix a note with a 16th note (64th would probably be ideal, support should be added for that as well):

[code]

Of course you would need to adjust any previous note's duration to account for this so everything stays in time.

Ideally, I think a new `NoteEvent` property s

[2017-06-30 19:09] grimmdude commented on #33
Hi @gciluffo,

Thanks for the note, I've just pushed an update which includes 32nd and 64th notes.

-Garrett

[2017-06-30 19:09] #33 closed

[2017-06-30 22:44] gciluffo commented on #32
@grimmdude

Im messing around with it a little bit now with 64th notes and seems that a 64th note being the grace note isnt fast enough. I believe a gracenote should be executed with the target note at the exact same time, but just a smidge behind. My music theory is a little rusty but I think the space between a grace note and its target note would not be dependent on tempo. Adding a 64th note wo

[2017-07-01 05:18] grimmdude commented on #32
I agree, using metric notes as grace notes won't really work very well.  I will try to get that `grace` property added to the `NoteEvent` object shortly.

-Garrett

[2017-07-01 21:10] scraggo opened #34 "Support quarter note triplets and 16th note triplets?"
Would it be difficult to add support for:
- '4t' as quarter note triplet (1.3333333)
- '16t' as 16th note triplet (.133333333)

If not, I could add those to the src file and wherever else determines it

If so, I can specify with ticks, correct?

[2017-07-02 00:56] gciluffo commented on #34
@scraggo

Ya pretty much, itd be as easy as that. Look at <a href="https://github.com/grimmdude/MidiWriterJS/commit/e5e69cd9d62ae03db8fb52fde0b17584a8a430dd">this</a> commit

[2017-07-02 04:37] #34 closed

[2017-07-06 08:04] grimmdude commented on #32
Hi @gciluffo,

I've added an implementation of the `grace` property to the master branch.  It's used as I suggested  above:

[code]

Give that a shot and let me know how that works for you.  Currently grace notes default to a duration of 10 ticks.  That might need to be adjusted though based on tempo.

-Garrett

[2017-07-07 15:38] gciluffo commented on #32
@grimmdude

Hey thanks for getting to this. I tested this a little bit using your Midi Player Js library. The main issue is that Im still hearing that the space between the target not and grace is a little too large. Would it be easy to shorten that distance?

[2017-07-08 02:27] grimmdude commented on #32
Hi @gciluffo,

Yea I see what you mean.  I just pushed a change to reduce the grace note duration to a single tick; it doesn't get any shorter than that unless we change the note division.  Here's what I'm testing with, sounds ok to me though it doesn't look pretty in notation:

[code]

What do you think?

-Garrett

[2017-07-10 15:10] gciluffo commented on #32
@grimmdude

Sounds good to me. Are you adding grace notes to all those notes to account for offset? So everything stays in time.

[2017-07-10 15:35] grimmdude commented on #32
Hi @gciluffo,

I'm just adding grace notes to all those notes above for testing.  The way it's setup, when a single tick duration grace note is added to a note event that single tick will be subtracted from the note event's duration so it should keep everything in time.

It sounds fine, but as I mentioned when you look at the notation it tends to look kinda funny (in MuseScore 2 anyway)  because o

[2017-07-10 15:58] #32 closed

[2017-08-25 23:35] LogIN- opened #35 "ReferenceError: fs is not defined"
I am getting following error message when trying to use saveMIDI function.
I think that fs node module is not included properly in the library.

[code]

[2017-08-27 17:12] grimmdude commented on #35
Hi @LogIN-

`Writer.saveMIDI()` is only available in a NodeJS environment.  I assume you're trying to save file from a browser?  If so you can try `Writer.dataUri()`

-Garrett

[2017-08-27 17:12] #35 closed

[2017-08-27 17:25] LogIN- commented on #35
Hi @grimmdude
Thanks for a response and sorry for bad bug report.

Actually I was trying to use the module in nodejs via command line. I tried to quickly browse MidiWriterJS code and I could not find anywhere that fs module is included.

I am not sure, maybe if this is working for you, than something in my environment is probably messed up.

[2017-08-27 18:10] grimmdude commented on #35
Hi @LogIN-

Ah ok, yes you're right; it doesn't look like `fs` is necessarily available in that function.  I've been thinking about removing that function actually.  I'd recommend just grabbing the buffer from the `Writer` object and saving the file in your own logic.  Similar to:

[code]
-Garrett

[2017-10-09 19:56] jpw opened #36 "ReferenceError: fs is not defined when using write.saveMIDI()"
Hi there!

I'm just starting to play around with MidiWriterJS. Many thanks for it, looks cool!

Am running in node not the browser. When I try to `write.saveMIDI()` I get this error;

[code]
I just changed `fs.writeFile(filename` to `require('fs').writeFile(filename` to hack around it for now. I would do a PR but am unfamiliar with Bower, so no idea what's going on in yr source, sorry :)

[2017-10-09 20:08] grimmdude commented on #36
Hi @jpw ,

Thanks for your message.  Yea, looks like the same issue as #35.  That `saveMIDI()` method isn't implemented very well, I'm planning on removing it from future releases since it's just a wrapper for `fs.writeFile()`.

Check the last comment in #35 for a better way to save files.

-Garrett

[2017-10-09 20:21] jpw commented on #36
Aha, righto, thanks! :)

[2017-10-09 20:22] #36 closed

[2017-10-14 20:01] MystiriodisLykos opened #37 "More than one instrument at a time"
Hello,

Is there a way to have more than 1 instrument play at a time?
For example with the zelda-main-theme I would like to have the Lead be a violin instead of a piano.
I have tried to change the instrument number as follows
[code]
With this change when I try to play the generated file the lead will start out as a violin but switch back over to a piano when the bass comes in.
Should I be trying t

[2017-10-17 16:22] grimmdude commented on #37
Hi @MystiriodisLykos,

Thanks for reaching out, I will take a look at this this evening.

-Garrett

[2017-11-04 18:09] MystiriodisLykos commented on #37
Hey @grimmdude
Do you have any updates on this?
Thanks, Brendan

[2017-11-06 00:27] grimmdude commented on #37
Hi @MystiriodisLykos,

I tested this out using MuseScore2 for playback and it seems to work as expected.  What software are you using for playback?

-Garrett

[2017-11-12 03:46] grimmdude commented on #37
Closing this out, feel free to reopen if needed.

-Garrett

[2017-11-12 03:46] #37 closed

[2017-11-26 06:09] grimmdude commented on #29
Hi @PedroAlvesV,

I've added a `ControllerChangeEvent` class in 1.5.2 which can be used to add controller events.

[code]

I think whether or not the control changes are respected will depend on the player you use.  But you should now be able to add sustain pedal controls to achieve what we were discussing above.  Let me know if you have any issues.

-Garrett

[2017-11-26 06:09] #29 closed

[2017-11-27 10:10] jpw commented on #29
I knew there was an issue somewhere I meant to comment on!

Starting one note on a channel before another ends (legato?), where the second note "chokes" the first seems often to be how slides/glissando are sequenced on 303-style hardware synths (MB-33 & clones, TT-303, x0xb0x...), probably because they tend not to have MIDI implementations sophisticated enough for controller events. Some more soph

[2017-11-27 14:26] MystiriodisLykos commented on #37
Hello @grimmdude,

I have tried using midi.js for playback in the browser and I have also tried Windows media player.

Thanks, Brendan

[2018-02-07 06:43] lingxinc opened #38 "how to play through stem?"
how to play through stem?
![35836544-c45b9724-0b1b-11e8-8e0b-ba7db8342036](https://user-images.githubusercontent.com/26563603/35902195-45e978ca-0c15-11e8-834b-bbffeeff18c1.jpg)

[2018-02-07 08:15] grimmdude commented on #38
Hi @lingxinc,

Can you clarify your question a bit?

-Garrett

[2018-02-07 08:27] lingxinc commented on #38
I'm sorry, I am working hard on my Englishl!
I want to ask how to add a note with vibrato.

[2018-02-07 15:20] evmaki opened #39 "Option to add notes at specific points in time"
First off: fantastic work on this! Thank you for all the time you've put in, and for making it available for everyone to use. I've used it in many projects already.

One thing that has tripped me up a few times is the inability to add notes at specific points in time. Say, for instance, I already have all of my notes in some data structure somewhere and I already know where, exactly, I want all of

[2018-02-07 16:11] grimmdude commented on #39
Hey @evmaki,

When you say you would like to add notes at a specific "time" are you referring to minutes/seconds?  The library doesn't support that exactly, but there is a duration value you can use which places the note a specific tick.

With a fairly trivial calculation you should be able to translate that into a time.  You would just prefix the `duration` value with a `T`.  Would look something

[2018-02-07 17:12] evmaki commented on #39
@grimmdude thanks for your quick response.

By time I mean the number of ticks into the track you want the note to start at, which would translate easily into arrangement position (or however you refer to the way bars and beats are counted in your DAW of choice)

Working with your above example, I've got:
[code]

This gives me a note that sounds for 4550 ticks, but not one that starts 4550 ticks i

[2018-02-07 17:28] grimmdude commented on #39
Hi @evmaki,

Ah, right I don't know what I was thinking; duration is not the right parameter for this.  I see your point, you need a `start` option in which the tick value is unrelated to the previous note (unlike `wait`).  I will take a look at this a little later and see what I can come up with.  Thanks,

-Garrett

[2018-03-27 01:46] fornof opened #40 "Error MidiWriter is not defined"
So, I have a "Uncaught ReferenceError: MidiWriter is not defined" , even though I imported on the front end.
There is a folder in node_modules for "Browser" index.min.js , I was hoping that could be used to read midi, modify it , then write midi back to a file blob on the front end/browser.

just trying :
[code]
does not work as I get the error.
 I imported in the <head> tag:
 <script src="node_mo

[2018-03-27 21:18] grimmdude commented on #40
Hi @fornof,

Try starting with this:

[code]
It's a little weird I know, and could probably be improved, but that should work if using the browser build.

-Garrett

[2018-03-27 21:38] fornof commented on #40
Oh my goodness! it works! Thank you soooo much!

[2018-03-27 21:44] #40 closed

[2018-05-24 06:52] muggy8 commented on #39
Hi there, great work! I just wanna say that I would really appreciate this feature too!

[2018-05-24 07:27] benrogmans commented on #39
Yep, me too! 😁

[2018-05-24 20:06] grimmdude commented on #39
@muggy8, @benrogmans,

Appreciate the feedback and interest, I will work on this as soon as I can.

-Garrett

[2018-06-07 09:54] IkobaNoOkami opened #41 "Error: MidiWriter.Track() is not a constructor?"
Hi, I'm a programming rookie.
As the title say, I get this error:
<img width="700" alt="cattura" src="https://user-images.githubusercontent.com/40023626/41092459-39699de0-6a49-11e8-9ad3-dc6e7ee087a4.PNG">

<img width="797" alt="cattura2" src="https://user-images.githubusercontent.com/40023626/41092471-3ec1f5e4-6a49-11e8-9938-86cc11cdc207.PNG">

I get this error AFTER doing the npm install thing. T

[2018-06-07 11:44] benrogmans commented on #41
Check if you run the command in the right directory.

Npm cannot find the file package.json which is required for any npm project.

If you are in the right directory but you havn’t initialised your project as an NPM project yet, run:

‘npm init’

[2018-06-07 12:17] IkobaNoOkami commented on #41
I've installed the npm in my project folder, the same warning appeared
<img width="785" alt="cattura21" src="https://user-images.githubusercontent.com/40023626/41098860-11544166-6a5d-11e8-8cd1-a4ebcc3e6029.PNG">

This is my project folder, am I missing the package.json? How I can get it?
<img width="556" alt="cattura22" src="https://user-images.githubusercontent.com/40023626/41098895-29013116-6a5d

[2018-06-07 13:56] IkobaNoOkami commented on #41
I tried to change the project folder destination, the console report the same warnings:
<img width="825" alt="cattura23" src="https://user-images.githubusercontent.com/40023626/41104213-2381c3aa-6a6b-11e8-885c-11760959f986.PNG">

But the project folder now contains some new files:
<img width="544" alt="cattura24" src="https://user-images.githubusercontent.com/40023626/41104249-33fda2da-6a6b-11e8-9

[2018-06-07 16:08] benrogmans commented on #41
Run the command:

npm init

[2018-06-11 09:15] #41 closed

[2018-07-06 15:11] marcohamersma commented on #39
Sorry to pile up on this, but I'm also looking forward to this feature. The thing I'm trying to make has the occasional notes from different channels playing at the same time, so being able to have an API that allows you to create a note at a certain time would be very welcome.

[2018-11-23 22:02] CropFarmer opened #42 "No sound in midi file"
Here's my code (I'm using discord.js and node.js btw, the code is supposed to make a random midi)
![image](https://user-images.githubusercontent.com/45299592/48961278-20092280-ef28-11e8-8a54-a92abb2befbc.png)
![image](https://user-images.githubusercontent.com/45299592/48961306-50e95780-ef28-11e8-8ade-7ca8680d5153.png)

no errors occur, it's just when i open the midi file, it has no sound
i did the

[2018-11-23 22:58] #42 closed

[2018-11-24 02:07] grimmdude commented on #42
Hi @CropFarmer,

Thanks for your message.  I'm guessing you were able to figure out your issue since this has been closed?

-Garrett

[2019-01-25 14:01] miikakuisma opened #44 "How to add empty event?"
Hi, thanks for this library, much appreciated!

Perhaps I haven't completely understood how to use this.. but I'm trying to find how to add empty space between notes.

We have a simple grid editor here and in our model there are beats that are filled or empty. So my approach was to cycle through our song data and generate note events when there is a note, and leave gap when there is no note.

This

[2019-01-25 21:02] grimmdude commented on #44
Hi @miikakuisma,

Thanks for your message.  The `wait` option is used to essentially determine rest before a note is to be played; it doesn't work without `duration` & `pitch` options.  So, you'll want to add that `wait` param to the following note event, make sense?

I'm actually working on a feature now that will let you specify the exact location of a note even by tick number.  Watch for that c

[2019-02-05 05:15] grimmdude commented on #39
Hi @evmaki, @muggy8, @benrogmans, @marcohamersma,

This feature is now available in [1.7.0](https://github.com/grimmdude/MidiWriterJS/releases/tag/1.7.0)!

Give it a shot and please let me know your results.

-Garrett

[2019-02-07 00:00] #39 closed

[2019-02-08 04:36] jongwon-park opened #49 "Error: Module not found: Error: Can't resolve 'fs'"
An error occurs in v1.7.0 as shown below.

`ERROR in ./node_modules/midi-writer-js/build/index.js
Module not found: Error: Can't resolve 'fs' in '......./node_modules/midi-writer-js/build'`

Perhaps, `const fs = require('fs');` of saveMIDI function in Writer class  is the problem.

[2019-02-08 07:39] grimmdude commented on #49
Hi @jongwon-park,

Thanks for your message.  Weird, I'm not able to replicate this error on my end.  Could you give me a little more info about your environment and the context in which you're using this method when you get the error?

-Garrett

[2019-02-08 10:18] jongwon-park commented on #49
My environment is
    angular v6.1.6
    webpack v4.9.2
    node 10.14.1

this is my webpack.config.js
[code]
midi-writer-js v1.6.0 works very well in my environment.
I get the error when I run the `ng serve` command using v1.7.0 midi-writer-js only.

[2019-02-08 17:10] grimmdude commented on #49
Hi @jongwon-park,

I think this might be related to webpack.  Check this comment for possible resolution:
https://github.com/webpack-contrib/css-loader/issues/447#issuecomment-285598881

-Garrett

[2019-02-14 09:45] CreadDiscans commented on #49
I also occur the issue.

above solution is not working for me.

I should downgrade to 1.6.0.

1.6.0 version is fine.

[2019-02-15 04:17] #49 closed

[2019-03-12 07:00] drumtj opened #50 "Why can not I set channel?"
I set the channel to 9 for percussion midi, but it is not set.

i try it
`new MidiWriter.NoteEvent({pitch:"C1", duration: '16', velocity:100, channel: 9});`
and export midi file.

<midi file analysis contents>

---- FILE START ----
  ---- FILE HEADER ----
    format:        0
    tracks:        1
    time division: 128
  ---- TRACK 1 (2187 bytes) ----
    delta: 0
    Set Tempo: 130 BPM
    delta:

[2019-03-12 15:56] grimmdude commented on #50
Hi @drumtj,

Thanks for your message.  It looks like that's something I haven't implemented yet, guess nobody has tried using it.  I will work on adding this as soon as I get a chance, thanks.

-Garrett

[2019-03-13 06:35] grimmdude commented on #50
Hi @drumtj,

I just released 1.7.1 which should fix this issue.  Let me know if you have any issues,

-Garrett

[2019-03-13 07:13] drumtj commented on #50
hi
thank you for quick comment.
but i found a problem.

a decremented value of 1 is entered to channel,,  ;)

[2019-03-14 05:25] grimmdude commented on #50
Hi @drumtj,

Sorry, I don't fully understand.  Sounds like it's not working as expected for you?

-Garrett

[2019-03-14 09:02] drumtj commented on #50
hi
I set the channel to 9. However, in the midi file, I confirmed that the channel was set to 8.

 ---- TRACK 2 (2190 bytes) ----
    delta: 0
    Set Tempo: 130 BPM
    delta: 0
    Program Change (channel 0): Piano
    delta: 0
    Note On (channel 8): C1 with velocity 127
    delta: 32
    Note Off (channel 8): C1 with velocity 127

[2019-03-15 15:20] grimmdude commented on #50
Hi @drumtj,

Seems to be working correctly on my end.  Can you post the code you're using?  Also what software are you using to read the file?

-Garrett

[2019-03-19 05:11] drumtj commented on #50
Hi
I understood it while creating a test project.
To use a percussion part in a MIDI file, you must set the channel to 10.
When I analyzed the MIDI file, I was confused because the channel value was 0-based.

Check this test link and you'll know.
My curiosity has been resolved.
Thank you for your reply.

https://drumtj.github.io/midiWriteTest/dist/index.html

[2019-03-19 05:35] #50 closed

[2019-04-26 00:53] drumtj opened #51 "how to write double dotted note?"
hi
how to write double dotted note and triple dotted note?

[2019-04-26 02:23] drumtj opened #52 "how to use startTick option of NoteEvent?"
please example code :D

[2019-04-26 04:23] drumtj opened #53 "how to use different duration for each note in note array"
hi
How to add note event with different lengths at the same time?

[MidiWriterJS]
`new MidiWriter.NoteEvent({pitch:['C4', 'D4', 'E4'], duration: '4'});`

[Tone js example]
`poly.triggerAttackRelease(["Eb3", "G4", "C5"], "2n");`
`poly.triggerAttackRelease(["Eb3", "G4", "C5"], ["2n", "4n", "4n"]);` ---> i need like this

[2019-04-28 06:20] grimmdude commented on #53
Hi @drumtj,

Currently the best way to create concurrent note events with different durations is by using different tracks.

-Garrett

[2019-04-28 06:31] grimmdude commented on #52
Hi @drumtj,

You can see an example of how to use the `startTick` option here: https://github.com/grimmdude/MidiWriterJS/blob/1.7.0/examples/notes-by-start-tick.js

-Garrett

[2019-04-29 05:53] drumtj commented on #52
thank you :)

[2019-04-29 05:53] #52 closed

[2019-04-29 05:58] drumtj commented on #53
Hi..

I am already using multitrack for several instruments.
Is it impossible to apply multiple notes of different lengths to a single note event?

[2019-04-29 09:32] mitchkm commented on #37
I can't back this up but it seems the way Windows media player plays a multi-track midi file is by placing all the notes onto one track. Thus all the program change events affect all notes.

[2019-04-29 10:54] leegee opened #54 "Document MidiWriter.saveMIDI"
Please document `MidiWriter`'s `saveMIDI` method - I only found it through [StackOverflow](https://stackoverflow.com/questions/19192590/javascript-how-to-export-a-midi-file).

[2019-04-29 21:54] PedroAlvesV commented on #54
Well... http://grimmdude.com/MidiWriterJS/docs/Writer.html#saveMIDI

Em seg, 29 de abr de 2019 às 07:54, Lee Goddard <notifications@github.com>
escreveu:

[2019-04-30 01:40] leegee commented on #54
Didn't find that doc. Guess I thought the readme was exhaustive.

Thanks!

On Mon, Apr 29, 2019, 23:54 Pedro Alves Valentim <notifications@github.com>
wrote:

[2019-04-30 02:13] grimmdude commented on #54
Yep you can find it documented there.  Though, I sorta feel like it's better to just handle the save logic separately since you may want to use different options, etc.  Something like this:
[code]

[2019-04-30 02:13] #54 closed

[2019-04-30 15:25] leegee commented on #54
In any case, your module saved me a lot of time and allowed me to get on
with the music -- many thanks!

On Tue, Apr 30, 2019, 04:13 Garrett Grimm <notifications@github.com> wrote:

[2019-05-03 10:32] leegee opened #55 "NoteEvent chord duration?"
I find that setting `NoteEvent`'s `duration` parameter to `Tn`, where `n` > 1, results in only some of the notes of the chord being sustained.

Am I doing something wrong?

[code]

[2019-05-03 10:48] leegee commented on #55
Digging into the `build` folder (not checkout yet), I found the following code in NoteEvent.buildData:

    this.pitch.forEach(function (p, i) {
        console.log('p', p);
        if (i == 0) {
            //noteOff = new NoteOffEvent({data: Utils.numberToVariableLength(tickDuration).concat(this.getNoteOffStatus(), Utils.getPitch(p), Utils.convertVelocity(this.velocity))});
            var noteO

[2019-05-03 11:33] leegee commented on #55
Can't seem to get any of the npm scripts running at first try....

[2019-05-05 17:39] grimmdude commented on #55
Hi @leegee,

Thanks for your message, I see what you mean.  I will take a look at this as soon as I get a chance.

-Garrett

[2019-05-05 17:41] grimmdude commented on #53
Hi @drumtj,

Sorry, I don't believe there is currently a way to define simultaneous starting notes with different durations on a single track.  Would be a cool feature though, can take a look at it when I get a chance.

-Garrett

[2019-05-06 14:44] grimmdude commented on #53
Hi @drumtj,

One thing I just thought of; you can try using the `Track.mergeTrack()` method to combine two tracks with different event durations into one.  It's sort of experimental currently but may work well enough.

http://grimmdude.com/MidiWriterJS/docs/Track.html#mergeTrack

-Garrett

[2019-05-13 06:39] mitchkm opened #58 "Durations greater than 4 quarter notes not supported"
While there is no support for dotted whole notes, dotted dotted whole notes, etc.
More generally support to override the string based duration specification and opt for purely a numerical value of quarter notes does not seem to be supported.

[2019-05-13 15:11] grimmdude commented on #58
Hi @mitchkm,

Thanks for your message.  Here are a couple solutions for achieving durations longer than whole:

Passing an array of note durations will give you a duration equal to the sum of those durations.  Here's how you could get a dotted whole note:

[code]

You can use the tick based duration option to achieve notes longer than whole.  The library is setup to use 128 ticks per beat.  So in

[2019-06-11 23:29] mitchkm commented on #58
That does seem nice. But I will say for it to make the most sense in music theory it would be nice to provide a numeric quantity of a quarter note perhaps. ie. 10 quarter notes. I guess I can make an char. array of X quarter notes('4') but it feels a little less intuitive. Especially if arrays get changed to providing the duration for a multitude of pitches also provided in an array.

[2019-06-11 23:37] grimmdude commented on #58
Hi @mitchkm,

Thanks, could you post an example syntax that you would prefer?

-Garrett

[2019-06-12 00:33] mitchkm commented on #58
Following the way you specify ticks, perhaps:
`const note = new MidiWriter.NoteEvent({pitch:['C4'], duration: 'Q10'});`
Meaning a duration of 10 quarter notes

[2019-06-12 01:30] grimmdude commented on #58
Hi @mitchkm,

I can see your logic with this, but I don't think it's worth implementing this way.  It introduces a new prefix `Q`, and presumably every prefix for all other note types; `E` for eighth, `S` for sixteenth, etc. which can get out of hand quickly and not particularly intuitive.

In it's current implementation, using an array of durations to be summed seems much more friendly and flexib

[2019-06-12 21:29] #58 closed

[2019-06-13 01:34] jpw opened #60 "open to a bit of code tidying?"
Hi there,

I'm using MidiWriterJS for a small node project generating music via the wonder of MIDI files. Thanks very much for MidiWriterJS!

I'm interested in contributing to the codebase as and when I can, and was wondering what your feelings were on a PR adding linting to the project and doing some tidying as a first step?

[2019-06-13 04:28] grimmdude commented on #60
Hi @jpw,

Sure!  PRs which improve the library are always welcome.  Thanks,

-Garrett

[2019-06-13 04:45] wustep opened #61 "NoteOn / NoteOffEvents constructor error"
Hi! thankful for this project -- ran into issues trying to use NoteOn / NoteOff!

Error: `TypeError: _midiWriterJs.default.NoteOn is not a constructor` or `NoteOff`.

Code:
[code]

I think this is a quick fix -- exporting the events in [main.js](https://github.com/grimmdude/MidiWriterJS/blob/master/src/main.js)?

[2019-06-13 05:18] grimmdude commented on #61
Hi @wustep,

I think it's just a matter of using `NoteEvent` wrapper instead of `NoteOnEvent`.  `NoteOnEvent`isn't meant to be used like that.  This should work:

[code]

-Garrett

[2019-06-13 05:29] wustep commented on #61
hi Garrett!

Thanks for the quick reply -- was a bit confused cause docs mention NoteOn and NoteOff. I tried editing main.js and using NoteOn/Off but am having timing issues with that (but maybe I just need to figure out how ticks work).

So -- my use-case is recording MIDI input and creating MIDI output, so I have a bunch of events like:
[code]

where `timestamp` is the time in milliseconds.

`No

[2019-06-13 05:42] grimmdude commented on #61
Hi Stephen,

Ah I gotcha.  Interesting, yea I suppose if `NoteOnEvent` and `NoteOffEvent` were exported from main.js you could use them this way.  I haven't tested interfacing with them publicly like that, but it certainly seems like what you need.  I'm sure others would find it useful too.

I can look into that a little later, or if like feel free to submit a PR.

-Garrett

[2019-06-13 05:46] wustep commented on #61
Got it! Thanks -- might try to tackle this in a few days.

In the mean time -- do you know what I should do for tempo? If I `setTempo(100)`, what should `startTicks` be if I have `timestamp` in milliseconds?

e.g. C4 is played @ 1 second in (1000), then let go at 2 seconds (2000). Is startTick 1000 for the NoteOn and 2000 for the NoteOff?

[2019-06-18 23:06] jpw commented on #60
Cool! Please see #62 hope you like.

[2019-06-19 04:13] #60 closed

[2019-07-13 18:28] michaelmior opened #63 "Merge tracks in parallel"
I have tracks for several different notes on the same instrument that I'm constructing independently. I get the current sound when I export these tracks as an array. However, I want the output to have a single track. When I use `mergeTracks`, I the tracks end up appearing one after the other. Is there any easy way to do this?

[2019-07-14 16:06] grimmdude commented on #63
Hi @michaelmior,

Thanks for your message.  `mergeTracks` _should_ merge in parallel, but it's admittedly a bit experimental at the moment.  Could you post your code so I can test it out and possibly figure out what's going on?

-Garrett

[2019-07-14 17:04] michaelmior commented on #63
Thanks! Here's [the function which generates each track](https://github.com/michaelmior/rhythm-wheel/blob/master/src/Wheel.js#L33)  and [the function which merges them](https://github.com/michaelmior/rhythm-wheel/blob/master/src/Player.js#L25).

[2019-07-18 19:55] jpw commented on #63
Please excuse me for butting in :)

Hi @michaelmior I was intrigued so I had a quick look, and your app appears to export MIDI files just fine...

Have I missed something, or how can the problem be reproduced?

[2019-07-18 22:50] michaelmior commented on #63
The app does indeed export MIDI. However, each instrument is on a separate track where I would prefer them all to be on a single track.

[2019-08-15 11:14] LagodViads opened #65 "pitch bend event"
It seems Pitch Bend was not implemented.

The following patch implements this by adding a new class :

PitchBendEvent

Using field "bend", containing a float ranging [-1,1], zero meaning no bend.

[addPitchBendpatch.txt](https://github.com/grimmdude/MidiWriterJS/files/3505320/addPitchBendpatch.txt)

[2019-08-22 06:17] grimmdude commented on #65
Hi @LagodViads,

Thanks very much for implementing this, I've merged it into master via PR #66.

-Garrett

[2019-08-22 06:17] #65 closed

[2019-10-27 19:56] #51 closed

[2019-11-26 14:28] RobAley opened #67 "Utils is not defined"
Using the npm package, trying to send a controller change message I get :

[code]

Changing Utils to Utils$1 works, I assume this is a build issue?

Thanks for a great lib.

[2019-11-27 18:57] PedroAlvesV commented on #67
Just out of curiosity: why would you use such low-level commands?

[2019-11-27 18:59] grimmdude commented on #67
Hi @RobAley,

Thanks for your message.  Interesting, could you post the full code you're using which results in this error please?

-Garrett

[2019-11-27 22:32] grimmdude commented on #67
Hi @RobAley,

I think I see what's happening.  I just made a change and published new version `1.7.2`.  You want to try again with that new version?

-Garrett

[2019-11-28 11:51] RobAley commented on #67
@grimmdude,

Thanks, that works great! A sample of the code I was using below for reference, I changed it to use the helper you added. No errors, and if I play the test.midi it creates with fluidsynth and a sf2 like General User I get a single snare hit as expected

@PedroAlvesV,

They're not particularly "low-level" codes, they're just less common ones more often used when working with physical m

[2019-11-28 11:51] #67 closed

[2019-12-04 00:39] iBundin opened #68 "impossible to add CC automations"
Hello. There are no data related to timing in Track.ControllerChange(cc#, val).  Only one CC value is exported for each track at tick position 0. I would suggest moving ControlChange to Event type and adding startTick argument to it. In case there is some mechanic to store CC automation, it would be great to add it to documentation. Thank you!

[2020-01-07 21:20] nonebits opened #69 "Triplets doesnt Fit the Grid"
Hello!When i try to create a pattern with Triplets and export the generated MIDI file to the DAW (Ableton or Bitwig) they doesnt fit the Grid Subdivisions and begin to be little out of Project Tempo.

Thanks!

[2020-01-09 21:54] grimmdude commented on #69
Hi @nonebits,

Thanks for your message, I'll have to take a look at that.  Are you still seeing it?

-Garrett

[2020-01-22 13:01] rualark opened #70 "Please provide single-file version to use in browser (.js and .min.js)"

[2020-05-11 13:44] thebne commented on #61
@grimmdude , I was about to use your library in order to serialize WebMIDI to files (let you download what you just played) - but I can't do that because the library kinda forces me to use the duration mechanism (I forked the code and started changing it, but NoteOff isn't written for such a scenario).
Any tips on how to write MIDI files from plain NoteOn/Off events without changing much of your c

[2020-05-12 03:01] grimmdude commented on #61
Hi @wustep and @thebne, I've exported the `NoteOnEvent` and `NoteOffEvent` classes to main so they are accessible directly now.  I haven't done much testing with it, but hopefully this should give you the flexibility you need.  I'll write some tests for them when I have more time, but let me know if this helps out.  Released version 1.7.3 with this change.

-Garrett

[2020-05-12 13:09] thebne commented on #61
@grimmdude thanks, I ended up using [midi-file](https://github.com/carter-thaxton/midi-file) for now. I think right now it's a bit tricky to use the `NoteOn/Off` functionality because I'd have to apply math on the ticks to make it work.

[2020-05-17 08:27] grimmdude commented on #55
This should be fixed with 1.7.4 👍

[2020-05-17 08:27] #55 closed

[2020-08-29 21:40] binary-person opened #72 "startTick option broken v1.7.4"
A simple test to determine if a version of midi-writer-js is broken: https://github.com/grimmdude/MidiWriterJS/blob/1.7.0/examples/notes-by-start-tick.js

(note: I'm using [midicsv](https://www.fourmilab.ch/webtools/midicsv/) to debug the midi files)

v1.7.[0-3] works:
[code]

v1.7.4 doesn't work:
[code]

For those who didn't bother reading the [csv format](https://www.fourmilab.ch/webtools/midics

[2020-11-14 11:41] artsyca opened #73 "`StaveNote.wait` is undefined.. related to `trackFromVoice`"
I'm not very well versed in this package but I believe there's a situation where `wait` is `undefined` whereas it should be zero.

This is causing an error in some cases when calling `get TickDuration` there is an error

<img width="544" alt="image" src="https://user-images.githubusercontent.com/364015/99158174-72463e00-2713-11eb-87a3-d210cfee1d20.png">

In the `NoteOnEvent` function, there is a c

[2020-11-15 03:23] artsyca commented on #73
OK I see this is related to the whole `trackFromVoice` discussion.. I'm not 100% sure if this covers all the cases, but this is an implementation which gets a bit closer to the target I believe

[code]

[2020-11-15 05:23] grimmdude commented on #73
Hey @artsyca,

Thanks for documenting this!  I will more closely look at this as soon as I can.  PRs always welcome!

-Garrett

[2020-11-16 20:21] #73 closed

[2021-01-30 11:31] pelevesque opened #76 "Can the NoteEvent.wait option be specified without NoteEvent.duration?"
I want to make an eight note rest.

When I try to specify a wait time without the duration like so:

```new MidiWriter.NoteEvent({wait: '8'})```

I get the following error which occurs at: node_modules/midi-writer-js/build/index.js:275:27

```TypeError: Cannot read property 'toString' of undefined```

I was obliged to write:

```new MidiWriter.NoteEvent({wait: '8',     duration: '0'})```

This fee

[2021-01-31 22:11] niieani commented on #69
This is still an issue. If you have a 4/4 time signature and fill it up with `8t` notes, it's going to misalign and the beat note will fall slightly before the beginning of the 2nd bar. The further you go, the worse this gets.

[2021-01-31 23:23] niieani commented on #69
Ok, so I dug into this a little. The problem won't be easy to fix.

https://github.com/grimmdude/MidiWriterJS/blob/1233a12d24c2b765abdb0e9db465e8dd477e570a/src/utils.js#L181

The rounding here is being done per-note. But this means we don't know how it fits into the bar. Some are rounded down making the notes faster, some are rounded up, making the notes quicker.

I think one way to do this would

[2021-02-03 04:24] #69 closed

[2021-02-14 19:05] grimmdude commented on #76
Hi @pelevesque,

The `wait` option always needs to be accompanied by a `pitch` and `duration`.  So if you want to write an eigth note rest you would include it with the next note event:

[code]

Reason for this design is because rests will always be followed by some other event, otherwise it would just be the end of the track.

[2021-02-14 19:05] #76 closed

[2021-02-14 22:13] pelevesque commented on #76
I see, thank you.

[2021-02-14 23:00] riffca opened #79 "Losing sound in 'wait' notes in generated midi files with multiple instruments"
Midi file generated by library has conflicts during playing together multiple instruments.
If there is wait note it sounds not in sound. The noise takes away sound.
But Single instrument file plays correctly.
Code to reproduce and generated file attached.
Listening file you can pay attention to bass guitar.
[code]

[test midi.zip](https://github.com/grimmdude/MidiWriterJS/files/5978671/test.midi.z

[2021-04-15 07:42] leegee opened #82 "Missing notes"
[code]

[2021-04-15 07:50] leegee commented on #82
This is solved by the patch supplied in https://github.com/grimmdude/MidiWriterJS/pull/75

[2021-06-24 20:20] y0nd0 opened #83 "Docs: Explicit note that it only works with Node. Not in the browser."
It would be helpful if there is a prominent note in `readme.md`.

Ok, there is a tag (keynames) `node` set for this repository. But does this exclude all other platforms (browser)? I cannot build with with TypeScript. Because `require('fs')` in `build/index.js`. So it's Node only.

Personally, I would remove this dependency. And just return the ArrayBuffer or what ever. So that everyone on browser

[2021-06-24 20:27] grimmdude commented on #83
Hi @y0nd0,

This library _should_ work in the browser, I thought we had that `fs` dependency setup to be optional but perhaps it needs to be adjusted.

I think that's a good idea though, probably best to just return ArrayBuffer.  I'll try to get to this when I have time, but PRs are always welcome!

-Garrett

[2021-06-24 20:28] y0nd0 commented on #83
Nope, Webpack TypeScript build says "No". Maybe #71 fixes it?

[2021-06-30 04:04] grimmdude commented on #83
Hi @y0nd0,

I've just released version 2.0.0 which removes the `Writer.saveMIDI()` function, thus removing the dependency on `fs`.  It was primarily legacy code I used to use for testing when this library first started, and seems to cause more trouble than it's worth.  There are other methods in the [`Writer`](http://grimmdude.com/MidiWriterJS/docs/Writer.html) class that can be used to get the ra

[2021-06-30 04:04] #83 closed

[2021-06-30 04:42] grimmdude commented on #82
Thanks @leegee,

I've merged #75 and added to 2.0.1 release.

-Garrett

[2021-06-30 04:42] #82 closed

[2021-06-30 04:45] grimmdude commented on #72
Hey @binary-person,

Thanks for the issue, I believe this has been resolved in v2.0.1 (https://github.com/grimmdude/MidiWriterJS/pull/75).  Let me know if not if though.

-Garrett

[2021-06-30 04:45] #72 closed

[2021-09-10 13:17] chr15m opened #84 "Place EndTrackEvent at a particular tick"
Thank you for MidiWriterJS, it's fantastic! I'm creating short MIDI loops with it. At the moment if my last note is somewhere in the middle of a loop, the midi track is shorter than it should be. Here's an example of a loop that falls short of the end of the bar:

![screenshot](https://user-images.githubusercontent.com/67130/132858953-813aa65a-2405-40b3-b2ab-e95f0cc272dd.png)

To mitigate this I a

[2021-09-11 11:25] lplume commented on #84
i was thinking a little bit about this, wouldn't fit better in MidiWriterJS a way to autofill emtpy measures? what do you think about this?
At the moment I really do not have ideas on how the api could look like, but seems a good idea to me.

thanks

[2021-09-11 15:02] grimmdude commented on #84
Hey @chr15m thanks for your message!  I can see what you mean.

@lplume, yea auto-padding a track to the end of the measure would probably be a good default behavior.  I wonder if it would also be useful to have a`Track.length` property which could override it.  Could potentially provide more granular adjustments down to the tick.

I'll take a look shortly and see what we can do.

[2021-09-11 15:18] lplume commented on #84
feel free to ping me again about this or other things, i'd like to code again on midiwriterjs!

[2021-09-11 15:26] grimmdude commented on #84
@lplume awesome, feel free to tackle this one if you like!

[2021-09-13 03:43] grimmdude commented on #61
Hey @thebne,

If you have an array buffer or data uri you can use https://github.com/grimmdude/MidiPlayerJS as a parser/serializer as well if you like.  To get MIDI events serialized to JSON you can do something like this:

[code]
Example json for an event:
[code]

[2021-11-04 01:55] lplume commented on #84
a little busy lately, still thinking about this and could be tricky to "automagically" detect when to pad the track to the measure lenght if needed. @davay42 since you notice this as well, how do you think midiwriter should behave? Could you give a few examples based on your use cases in the form of "I have to do this [code example]" and how do you think it should be [code example]? That would be

[2021-11-04 02:33] chr15m commented on #84
@lplume yes padding with an empty note feels hacky. Ideally there would be a way to situate the end-track even directly at the time where the user wants it but I don't know if the MIDI format supports this. I note it is possible elsewhere in the API to situate events at specific time points though so it seems like it should be possible.

[2021-11-04 07:42] davay42 commented on #84
@lplume I think just the ability to set the end-of-track event manually at a certain time would be enough for the purpose.

[2021-11-04 12:52] davay42 commented on #84
@lplume Interestingly Garage band recognizes the loop length correctly with `midiTrack.setTempo(tempo.bpm); midiTrack.setTimeSignature(4, 4)` in place. Works even for empty loops. The calculations shouldn't be too fancy here.

The issue arises when I try to import a midi file to my web editor back. So we need to do the calculations ourselves.

[2021-12-20 18:33] 360disrupt opened #85 "One Octave Too Low"
Issue:

Everything is pitched down by 1 Octave.

Code:

`    // Start with a new track
        let track = new MidiWriter.Track();
        track.addTrackName(trackName);

        notes = ['C0', 'C1', 'C2'];
        // Add some notes:
        notes.forEach(pitch => {
            // @ts-ignore
            let midiInfo = new MidiWriter.NoteEvent({pitch, duration: '16', velocity: 100});
            co

[2022-01-18 14:45] humbleCoder1990 opened #86 "How to "import" ?"
I see the example is using require.
Can't I use "import"?

[2022-01-18 17:04] humbleCoder1990 opened #87 "How to caculate "tick" properly?"
![스크린샷 2022-01-19 오전 2 00 21](https://user-images.githubusercontent.com/87828192/149983628-7ffb497a-6f06-41ee-b5ee-56f8e1be00e9.png)

I tried to make 1 bar with 16 notes.

So, I caculated durationTick like this.

`const duration = 1920 / 16 /* 1920 ticks are 1 bar */`

then,

`const startTick = duration * noteIndex`

But the result is almost 4 bars like the screenshot.
What are I missing

[2022-01-18 17:07] humbleCoder1990 commented on #87
Wow I just saw another post https://github.com/grimmdude/MidiWriterJS/issues/58,
128 ticks for per beat.
It's very confusing.

[2022-01-18 17:11] grimmdude commented on #87
Hi @humbleCoder1990,

That's correct, there are 128 ticks per beat.  That's how it's specified in MIDI 🤷‍♂️

[2022-01-18 17:11] #87 closed

[2022-01-30 18:05] wrcstewart opened #88 "Client side version?"
Hi
I was wondering how tricky it would be to set up a client side .js file. I see there is 1 dependency. I believe there are programs that can process .npm files/packages to form client side version. But I am not at all knowledgable about those ...
Any thoughts ?

[2022-02-09 05:23] #88 closed

[2022-02-09 05:24] grimmdude commented on #88
Hey @wrcstewart, I've just added a browser build here which exposes the global variable `MidiWriter`.  Hope that helps!

https://github.com/grimmdude/MidiWriterJS/blob/master/browser/midiwriter.js

[2022-02-09 07:03] wrcstewart commented on #88
Thanks

Sent from my iPhone

[2022-02-09 14:22] wrcstewart commented on #88
Hi
Sorry to bother you. I was wondering if it is possible to use the program change event to select a drum part - as it only seems to take a single integer? I'm a newbie with midi.Thanks
William

    On Wednesday, 9 February 2022, 06:25:05 CET, Garrett Grimm ***@***.***> wrote:

Hey @wrcstewart, I've just added a browser build here which exposes the global variable MidiWriter. Hope that helps!

ht

[2022-02-09 16:33] wrcstewart commented on #88
Hi
Cancel my last question re drums i ve found the answer.
Thanks
William

Sent from my iPhone

[2022-02-12 09:36] grimmdude commented on #85
Hi @360disrupt,

I believe this depends on what Ableton considers "middle C"; sounds like it's considering it to be C3.  Looking at GarageBand I see it defines it as C3 as well.

The MIDI spec defines note `60` as middle C, and the note-to-number mapping being used in this library considers C4 to be middle C.  Hence C4 is mapped to `60`.

I was always taught that C4 was middle C, but searching aro

[2022-02-12 09:39] grimmdude commented on #70
Hey @rualark, this is now available in v2.0.2 👍
https://github.com/grimmdude/MidiWriterJS/blob/master/browser/midiwriter.js

#90

[2022-02-12 09:39] #70 closed

[2022-02-12 17:01] wrcstewart opened #91 "How to write out drum tracks"
I'm not sure how midi files record the fact that the track is intended for channel 10. Is there a way to make the track write to ch10 in MidiWriterJS. In other words how does one write out drum parts - an example bit of code would be great.

[2022-02-12 18:23] grimmdude commented on #91
Hey @wrcstewart,

You can define the channel per note.  Admittedly I haven't worked much with drum parts, but this should work:

[code]

[2022-02-12 20:22] ayunami2000 opened #92 "Seems to hang on using the writer"
![image](https://user-images.githubusercontent.com/24785136/153727021-8e978350-7845-449d-8c85-f3bbdf17fbcd.png)
![image](https://user-images.githubusercontent.com/24785136/153727030-980bb247-c497-48be-86a2-b4b168ca3f69.png)

It hangs right before the `console.log(123);` part and I can't figure out why. I have tested if it's hanging in the for loop but it goes through that in under a second.

The w

[2022-02-12 21:00] ayunami2000 commented on #92
I got it to work using a different library: https://github.com/dingram/jsmidgen

But I'll keep this open so you guys can patch the issue.

[2022-02-13 08:52] wrcstewart commented on #91
Fantastic
thanks

Sent from my iPhone

[2022-02-13 15:50] #91 closed, assigned to nobody

[2022-02-13 16:10] grimmdude commented on #85
Hey @360disrupt,

Just released a change in 2.1.0 that should let change middle C like this:
[code]

Let me know if you have any issues.

[2022-02-14 07:44] grimmdude commented on #92
Hey @ayunami2000,

Thanks for reporting!  If you could provide some reproducible code, that would help us debug this issue.

[2022-02-14 12:09] ayunami2000 commented on #92
Once I get home after school (~10 or so hours) I'll get details like my node version and some code to reproduce the issue.

[2022-02-22 06:50] MarmotCluster opened #94 "Way to change timebase (ppq) instead of 128"
I'm enjoying your package but have a problem.
I usually use the result file in fl studio. it only supports those timebases below.
![image](https://user-images.githubusercontent.com/87087163/155074033-c81317cc-f6c5-4337-976f-d6aec77fd6b8.png)

[code]
so i rounded tick values and imported the midi file in software but it's not working as i thought.
![dirtydesc](https://user-images.githubusercontent.

[2022-02-22 12:35] #94 closed

[2022-02-22 12:37] MarmotCluster commented on #94
Solved it by changing constants directly.

[2022-04-17 16:47] VictorKolb commented on #86
You can. Maybe you need to add ` "type": "module"` to your package.json.

[2022-04-26 09:25] jessgusclark opened #97 "Two tracks with different instruments at the same time"
I am attempting to create a MIDI file with multiple tracks with different instruments. It seems like when I call

[code]

it changes the instrument of all the tracks, not just the one attached to.

Here is a small POC as a demo.

[code]

**Expected:** One whole note (piano) with four quarter notes (woodblock) in the background
**Result:** One woodblock click followed by multiple piano quarter note

[2022-07-08 08:51] neoPix commented on #97
Same here.

@jessgusclark  did you figured it out since ?

[2022-09-07 17:27] LilyStilson opened #98 "MIDI imported in FL Studio turns out to be one octave higher"
Using code from your example, extended with `fs` to save file
[code]

When you try to import generated file in the DAW, the notes are going to be one octave higher than provided pitches
![image](https://user-images.githubusercontent.com/42270214/188941325-48ca8291-e556-41da-991a-78dfc5d7b665.png)

Is there any `base_note` value that I can change or there is nothing I can do for now?

[2022-09-07 17:33] LilyStilson commented on #98
Turns out, it's a DAW issue, oh well

[2022-09-07 17:33] #98 closed

[2022-10-05 10:20] AndaRebeca opened #99 "Why does a slower tempo create a little rest between NoteEvents?"
I have a track with 4 chords having:
time signature: (4/4)
bpm (tempo): 120
duration of the NoteEvent : "T512"

When I change the bpm to 60, a little rest appears between chords. How can I make the chords play cursively as when I have a bpm of 120?
@grimmdude

[2022-10-25 17:07] jeremygottfried opened #100 "How to change tempo throughout track"
Is it possible to speed up halfway through the song with `setTempo`?
I can't tell if `setTempo` sets the tempo for the entire Midi file or if it's possible to do multiple `setTempo` at different ticks.

[2022-10-28 11:20] marian-simonca commented on #99
This is happening to us as well for the same configuration.
Any help? @grimmdude

[2022-11-06 02:14] dturner34 commented on #92
I was able to reproduce this by accidentally sending a messed up duration 'T-100'.

[2022-11-07 09:03] gilesbutler opened #101 "Midi arrangement help"
Hi there,

Awesome library and thanks so much for you work.

I'm trying to create a structure like the one below but getting stuck and not sure if it's possible?

I'd like to create either empty midi blocks or it's ok if they have one long note in for the length of the block.
And the ability to add space before and after the blocks of midi.

Is this possible?

Thanks

<img width="459" alt="CleanSh

[2022-11-15 06:08] marian-simonca commented on #97
Any updates on this?
We have the same problem and honestly it's incredible how problems keep pilling up without solutions..

[2022-11-15 06:12] grimmdude commented on #97
Hi @marian-simonca, pull requests are always welcome 👍

[2022-11-15 06:15] marian-simonca commented on #97
Hi @grimmdude !
 I know they are welcome, and trust me, if I knew how to do it I would help.
 At the moment I'm just struggling to understand how/why things like this happen. Sorry if my previous comment was a bit acidic 🙏

[2022-11-30 05:59] #92 closed

[2022-11-30 06:02] grimmdude commented on #92
Thanks @ayunami2000 & @dturner34.

I've added some validation for this which throws an error if an invalid duration is used.  Hopefully that should shine some light on the issue you were having @ayunami2000.

[2022-11-30 19:58] #97 closed

[2022-11-30 20:02] grimmdude commented on #97
I've added `channel` support for the `ProgramChangeEvent`.  Setting different channels for the program change events should solve this, at least it did for me in GarageBand.

[code]

I have a feeling the note events should technically be added using the same channel, but GarageBand doesn't seem to care.  If that is necessary though, I think the ultimate fix will be to support setting the channel o